@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode = "true"/>
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<div style="padding:30px">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
